{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<h2 style="text-align:center;"> Voting Portal </h2>

<div class="container">
        <div class="row">
                <div class="col-sm-6">
                        <h2> Voter ID = {{voter_id}} </h2>
                        <h2 style="font-weight: bold;"> Ballot Paper</h2>
                        {% for candidate in candidate_list %}
                        <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br>
                        {% endfor %}
                        <div class="row">
                                <div class="col-sm-6">
                                        <figure>
                                                <img src={% static left_qr %} alt="left_qr" width="150" height="150">
                                                <figcaption> Ballot Secrets </figcaption>
                                        </figure>
                                </div>

                                <div class="col-sm-6">
                                        <figure>
                                                <img src={% static right_qr %} alt="right_qr" width="150" height="150">
                                                <figcaption> C_rid and C_obf </figcaption>
                                        </figure>                                        
                                </div>
                                
                        </div>

                        
                </div>

                <div class="col-sm-6" style="text-align:center;">
                        <h3 style="text-align:center;">Ballot Scanning Successfull...</h3>
                        <h2 style="font-weight: bold;"> EVM Receipt </h2>
                        <h3 style="text-align:center; font-weight: bold;">W_m: {{evm_vvpr_receipt.w_m}}</h3>

                        <figure>
                                <img src={% static evm_vvpr_receipt_c_vote %} alt="C_vote" width="150" height="150" style="display:block;margin-left:auto;margin-right:auto;">
                                <figcaption> C_vote </figcaption>
                        </figure>

                        <figure>
                                <img src={% static w_rw_evm_vvpr_receipt %} alt="W_rw" width="150" height="150" style="display:block;margin-left:auto;margin-right:auto;">
                                <figcaption> w and r_w </figcaption>
                        </figure>

                        <form method="post" action="vvpr_receipt">
                                {% csrf_token %}
                                <input type="hidden" name="voter_id" value={{voter_id}}>
                                <input type="hidden" name="rid" value={{rid}}>
                                <input type="hidden" name="vvpr_receipt_name" value={{evm_vvpr_receipt.name}}>
                                <input type="hidden" name="vvpr_receipt_c_vote" value={{evm_vvpr_receipt.c_vote}}>
                                <div style="text-align:center; padding:50px">
                                        <input type="submit" value="Proceed To VVPR Receipt">
                                </div>
                        </form>
                        

                </div>
        </div>  
</div>


</body>
</html>