{% load static %}
<h2 style="text-align:center;">Voter ID = {{voter_id}}</h2>

<h2 style="text-align:center;">Voter Receipt</h2>
<h4 style="text-align:center;">W_m: {{w_m}}</h4>
<figure>
        <img src={% static c_vote %} alt="C_vote" width="300" height="300" style="display:block;margin-left:auto;margin-right:auto;">
        <figcaption style="text-align:center;"> C_vote </figcaption>
</figure>
<figure>
        <img src={% static w_rm %} alt="W_rw" width="300" height="300" style="display:block;margin-left:auto;margin-right:auto;">
        <figcaption style="text-align:center;"> w and r_w </figcaption>
</figure>

<figure>
        <img src={% static c_rid_cu %} alt="C_rid_Cu" width="300" height="300" style="display:block;margin-left:auto;margin-right:auto;">
        <figcaption style="text-align:center;"> C_rid and C_u </figcaption>
</figure>


