{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <title>Voting Portal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
        body {
                font-family: 'Nunito Sans','Courier New', Courier, monospace;
                margin: 0px;
        } 
        .header {
                background-color: lightgreen;
                padding: 1.5%;
                box-shadow: 0 2px 4px 0 rgba(0,0, 0, 0.1);
                font-size: 150%;
        }
        .ballotdre {
                margin: 5%;
                display: flex;
        }
        .ballot, .dre {
                box-shadow: 0 2px 7px 0 rgba(0,0, 0, 0.1);
                /* margin: 10%; */
                float: left;
                width: 50%;
        }
        .c-vote, .r-wr-w {
                float: left;
                width: 50%;
        }
        .left_right_ballot {
                display: flex;
        }
        /* .crid-cobs, .ballot-secrets{
                float:left;
                width: 50%;     
        } */
        .leftballot, .rightballot {
                float: left;
                width: 50%;
        }
        .rightballot {
                border-left: 1px dotted black;
        }
        .voterreceipt {
                font-family: 'Nunito Sans';
                padding: 1%;
                width: 95%;
                margin: 2%;
                background-color: lightgreen;
        }
        .voterreject {
                font-family: 'Nunito Sans';
                padding: 1%;
                width: 95%;
                margin: 2%;
                background-color: lightcoral;
        }
        .screen {
                border: 1.5px solid gray ;
                padding: 5%;
        }
        .VVPR-receipt {
                /* display: none; */
                opacity: 0;
        }
        .submitbutton {
                font-family: 'Nunito Sans';
                padding: 1%;
                width: 95%;
                margin: 3%;
                background-color: lightgray;
        }
        .scan-button {
                font-family: 'Nunito Sans';
                padding: 1%;
                width: 95%;
                margin: 2%;
                background-color: lightgray;
        }
        .proceedtovvprbutton{
                font-family: 'Nunito Sans';
                padding: 1%;
                width: 95%;
                margin: 2%;
                background-color: lightgray;
        }
        .ballot-secrets {
                size: 60%;
        }
</style>

<body>

<nav class="header">
        <!--This is the nav bar-->
        <span>Voting Portal</span>
        <span style="position: absolute; right: 2px;">ID {{voter_id}}</span>
</nav>



<div class="ballotdre">
        <div class="dre" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgreen; width: 100%" >Polling Officer</div>
                <!-- <div class="VVPR-receipt">
                        VVPR Receipt
                        <br/>
                        Name: {{vvpr_receipt_name}}
                        <figure>
                                <img src={% static vvpr_receipt_c_vote %} alt="C_vote" width="150" height="150" style="display:block;margin-left:auto;margin-right:auto;">
                                <figcaption> C_vote </figcaption>
                        </figure>
                </div> -->
                <!-- <div style="margin: 3%;">
                        <div style="text-align: center;">Choose your Vote</div>                        
                        {% for candidate in candidate_list %}
                        <span style="border: 1px solid gray; border-radius: 4px; background-color: lightgray; margin: 1%;">
                                <input type="radio" id={{candidate.name}} name="candidate_voted" value={{candidate.original}}>
                                <label for={{candidate.name}}>{{candidate.id}}</label>
                        </span>
                        {% endfor %}
                        
                </div> -->
                <div style="opacity: 0.5;text-align: center; padding: 1%;">
                        <i class="fas fa-user-tie icon fa-3x"></i>
                </div>

                <form method="post" action="voter_receipt">
                        {% csrf_token %}
                        <input type="hidden" name="voter_id" value={{voter_id}}>
                        <input type="hidden" name="vvpr_receipt_name" value={{vvpr_receipt_name}}>
                        <input type="hidden" name="AcceptVote" value="1">
                        <div style="text-align:center;">
                                <input type="submit" value="Accept" class="voterreceipt">
                        </div>
                </form>
                <!--
                <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="voter_id" value={{voter_id}}>
                        <input type="hidden" name="vvpr_receipt_name" value={{vvpr_receipt_name}}>
                        <input type="hidden" name="AcceptVote" value="0">
                        <div style="text-align:center;">
                                <input type="submit" value="Reject" class="voterreject">
                        </div>
                </form>
        -->
                <div class="instructions">
                        Click on Accept to Proceed. If you are not satisfied and you want to revote. Click on reject.
                </div>
        </div>
        <div class="ballot" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgreen; width: 100%" >Ballot Paper</div>
                <div class="left_right_ballot">
                        <div class="leftballot" style="opacity: 0;">
                                <div style="background-color: lightgray; width: 100%; padding: 4%;"><i>w_m: </i>{{w_m}}</div>
                                <div style="display: flex; padding: 3%;">
                                        <div style="float: right; width: 50%;">
                                                <label><i>w_m</i></label>
                                        </div>
                                        <div style="float: left; width: 50%;">
                                                <label>Candidate</label>
                                        </div>
                                </div>
                                <hr style="width: 80%; color: black; margin-top: 0%; margin-bottom: 0%;">
                                {% for candidate in candidate_list %}
                                <div style="display: flex;">
                                        <div style="float: right; width: 50%;">
                                                <label for="{{candidate.id}}">{{candidate.id}}</label>
                                        </div>
                                        <div style="float: left; width: 50%;">
                                                <label for="{{candidate.name}}">{{candidate.name}}</label>
                                        </div>
                                </div>
                                
                                <!-- <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br> -->
                                {% endfor %}
                        </div>
                        <div class="rightballot">
                                <div style="background-color: lightgray; width: 100%; padding: 4%;"><i>w_m: </i>{{w_m}}</div>
                                <figure class="ballot-secrets">
                                        <img src={% static ballot_qr %} alt="ballot_qr" width="80%" style="margin-top: 3%;">
                                        <figcaption> Ballot Secrets </figcaption>
                                </figure>
                                <!-- <figure class="crid-cobs">
                                        <img src={% static right_qr %} alt="right_qr" width="150" height="150">
                                        <figcaption> C_rid and C_obf </figcaption>
                                </figure>  -->
                        </div>
                </div>
        </div>
        <!-- <div class="ballot" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgreen; width: 100%" >Ballot Paper</div>
                <div class="leftballot" >
                        {% for candidate in candidate_list %}
                        <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br>
                        {% endfor %}
                </div>
                <div class="rightballot">
                        <figure class="ballot-secrets">
                                <img src={% static left_qr %} alt="left_qr" width="150" height="150">
                                <figcaption> Ballot Secrets </figcaption>
                        </figure>
                        <figure class="crid-cobs">
                                <img src={% static right_qr %} alt="right_qr" width="150" height="150">
                                <figcaption> C_rid and C_obf </figcaption>
                        </figure>
                </div>
        </div> -->
        
</div>


<div class="ballotdre">
        <div class="dre" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%" >DRE</div>
                
                <div style="margin: 3%;">
                        <div style="text-align: center;">Choose your Vote</div>                        
                        {% for candidate in candidate_list %}
                        <span style="border: 1px solid gray; border-radius: 4px; background-color: lightgray; margin: 1%;">
                                <input type="radio" id={{candidate.name}} name="candidate_voted" value={{candidate.original}}>
                                <label for={{candidate.name}}>{{candidate.id}}</label>
                        </span>
                        {% endfor %}
                        
                </div>
                <div class="vvprreceipt">
                        <form method="post" action="vvpr_receipt">
                                {% csrf_token %}
                                <input type="hidden" name="voter_id" value={{voter_id}}>
                                <input type="hidden" name="rid" value={{rid}}>
                                <input type="hidden" name="vvpr_receipt_name" value={{evm_vvpr_receipt.name}}>
                                <input type="hidden" name="vvpr_receipt_c_vote" value={{evm_vvpr_receipt.c_vote}}>
                                <div style="text-align:center;">
                                        <input class="proceedtovvprbutton" type="submit" value="Polling Officer" disabled>
                                </div>
                        </form>
                </div>
                <div class="instructions">
                        <!-- <span id="vvpr-message">
                                The VVPR reciept is feeded into the ballot box. 
                        </span> -->
                        <span id="receipt-message">
                                The right half of ballot is take home receipt. Click on the button to go to polling officer. 
                        </span>
                </div>

        </div>

        <div class="ballot" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%; border-bottom: 0.5px solid gray;" >Ballot Paper</div>
                <div class="left_right_ballot">
                        <div class="leftballot" style="opacity: 0;">
                                <div style="background-color: lightgray; width: 100%; padding: 4%;"><i>w_m: </i>{{w_m}}</div>
                                <div style="display: flex; padding: 3%;">
                                        <div style="float: right; width: 50%;">
                                                <label><i>w_m</i></label>
                                        </div>
                                        <div style="float: left; width: 50%;">
                                                <label>Candidate</label>
                                        </div>
                                </div>
                                <hr style="width: 80%; color: black; margin-top: 0%; margin-bottom: 0%;">
                                {% for candidate in candidate_list %}
                                <div style="display: flex;">
                                        <div style="float: right; width: 50%;">
                                                <label for="{{candidate.id}}">{{candidate.id}}</label>
                                        </div>
                                        <div style="float: left; width: 50%;">
                                                <label for="{{candidate.name}}">{{candidate.name}}</label>
                                        </div>
                                </div>
                                
                                {% endfor %}
                        </div>
                        <div class="rightballot">
                                <div style="background-color: lightgray; width: 100%; padding: 4%;"><i>w_m: </i>{{w_m}}</div>
                                <figure class="ballot-secrets">
                                        <img src={% static ballot_qr %} alt="ballot_qr" width="80%" style="margin-top: 3%;">
                                        <figcaption> Ballot Secrets </figcaption>
                                </figure>
                        </div>
                </div>
        </div>
</div>


<div style="box-shadow: 7px 7px 7px 7px rgba(0,0, 0, 0.1); margin: 5%; text-align: center;">
        <div style="text-align: center; background-color: lightgray; padding: 2%;">
                Ballot box
        </div>
        <br/>
        <div class="leftballot-ballotbox" style="width: 40%; text-align: center; margin: 0 auto; border: gray solid 1px; ">
                <div style="background-color: lightgray; width: 100%; padding: 2%;"><i>w_m: </i>{{w_m}}</div>
                <div style="display: flex; padding: 1%;">
                        <div style="float: right; width: 50%;">
                                <label><i>w_m</i></label>
                        </div>
                        <div style="float: left; width: 50%;">
                                <label>Candidate</label>
                        </div>
                </div>
                <hr style="width: 80%; color: black; margin-top: 0%; margin-bottom: 0%;">
                {% for candidate in candidate_list %}
                <div style="display: flex;">
                        <div style="float: right; width: 50%;">
                                <label for="{{candidate.id}}">{{candidate.id}}</label>
                        </div>
                        <div style="float: left; width: 50%;">
                                <label for="{{candidate.name}}">{{candidate.name}}</label>
                        </div>
                </div>
                
                <!-- <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br> -->
                {% endfor %}
        </div>
        <br />
</div>
     

<div class="ballotdre">
        <!--
        <div class="dre" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%" >DRE</div>
                <div class="scanner">
                        SCANNER
                </div>
                <div>
                        Partial EVM Receipt
                        <figure>
                                <img src={% static vvpr_receipt_c_vote %} alt="C_vote" width="150" height="150" style="display:block;margin-left:auto;margin-right:auto;">
                                <figcaption> C_vote </figcaption>
                        </figure>
                </div>
                <div class="scanbutton">
                        <form method="post" action="evm_vvpr_receipt">
                                {% csrf_token %}
                                <input type="hidden" name="voter_id" value={{voter_id}}>
                                <input type="hidden" name="rid" value={{rid}}>
                                <div style="text-align:center;">
                                        <input class="scan-button" type="submit" value="Scan Ballot" disabled>
                                </div>
                        </form> 
                </div>
                <div class="instructions">
                        Your partial EVM receipt has been printed by the DRE machine. Click on the Scan Ballot button to scan your ballot. 
                </div>
        </div>
        <div class="ballot" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%" >Ballot Paper</div>
                <div class="leftballot" >
                        {% for candidate in candidate_list %}
                        <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br>
                        {% endfor %}
                </div>
                <div class="rightballot">
                        <figure class="ballot-secrets">
                                <img src={% static left_qr %} alt="left_qr" width="150" height="150">
                                <figcaption> Ballot Secrets </figcaption>
                        </figure>
                        <figure class="crid-cobs">
                                <img src={% static right_qr %} alt="right_qr" width="150" height="150">
                                <figcaption> C_rid and C_obf </figcaption>
                        </figure>
                </div>
        </div> -->
        <div class="dre" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%; border-bottom: 0.5px solid gray;" >DRE</div>
                <!-- <div class="scanner">
                        SCANNER
                </div> -->
                <!-- <div class="partialevm">
                        Partial EVM Receipt
                        <figure>
                                <img src={% static partial_evm_receipt %} alt="C_vote" width="150" height="150" style="display:block;margin-left:auto;margin-right:auto;">
                                <figcaption> C_vote </figcaption>
                        </figure>
                </div> -->
                {% comment %} <textarea readonly>Your Voter ID is {{voter_id}}</textarea> {% endcomment %}
                <div style="margin: 3%;">
                        <div style="text-align: center;">Choose your Vote</div>                        
                        {% for candidate in candidate_list %}
                        <span style="border: 1px solid gray; border-radius: 4px; background-color: lightgray; margin: 1%;">
                                <input type="radio" id={{candidate.name}} name="candidate_voted" value={{candidate.original}}>
                                <label for={{candidate.name}}>{{candidate.id}}</label>
                        </span>
                        {% endfor %}
                        
                </div>
                <div class="scanbutton">
                        <form method="post" action="evm_vvpr_receipt">
                                {% csrf_token %}
                                <input type="hidden" name="voter_id" value={{voter_id}}>
                                <input type="hidden" name="rid" value={{rid}}>
                                <div style="text-align:center;">
                                        <input class="scan-button" type="submit" value="Next" disabled>
                                </div>
                        </form> 
                </div>
                <div class="instructions">
                        The left half of ballot is VVPR. Verify the value on the top of receipt and click on Next.
                </div> 
        </div>
        <div class="ballot" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%; border-bottom: 0.5px solid gray;">Ballot Paper</div>
                <div class="left_right_ballot">
                        <div class="leftballot">
                                <div style="background-color: lightgray; width: 100%; padding: 4%;"><i>w_m: </i>{{w_m}}</div>
                                <div style="display: flex; padding: 3%;">
                                        <div style="float: right; width: 50%;">
                                                <label><i>w_m</i></label>
                                        </div>
                                        <div style="float: left; width: 50%;">
                                                <label>Candidate</label>
                                        </div>
                                </div>
                                <hr style="width: 80%; color: black; margin-top: 0%; margin-bottom: 0%;">
                                {% for candidate in candidate_list %}
                                <div style="display: flex;">
                                        <div style="float: right; width: 50%;">
                                                <label for="{{candidate.id}}">{{candidate.id}}</label>
                                        </div>
                                        <div style="float: left; width: 50%;">
                                                <label for="{{candidate.name}}">{{candidate.name}}</label>
                                        </div>
                                </div>
                                
                                <!-- <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br> -->
                                {% endfor %}
                        </div>
                        <div class="rightballot">
                                <div style="background-color: lightgray; width: 100%; padding: 4%;"><i>w_m: </i>{{w_m}}</div>
                                <figure class="ballot-secrets">
                                        <img src={% static ballot_qr %} alt="ballot_qr" width="80%" style="margin-top: 3%;">
                                        <figcaption> Ballot Secrets </figcaption>
                                </figure>
                                <!-- <figure class="crid-cobs">
                                        <img src={% static right_qr %} alt="right_qr" width="150" height="150">
                                        <figcaption> C_rid and C_obf </figcaption>
                                </figure>  -->
                        </div>
                </div>
        </div>
        
</div>

<div class="ballotdre">
        <!-- <div class="dre" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%" >DRE</div>
                <form action="candidate" method="post" style="display:block;text-align:center;">
                        {% csrf_token %}
                        <input type="hidden" name="voter_id" value={{voter_id}}>
                        <input type="hidden" name="rid" value={{rid}}>
                        {% comment %} <textarea readonly>Your Voter ID is {{voter_id}}</textarea> {% endcomment %}
                        {% for candidate in candidate_list %}
                        <input type="radio" id={{candidate.name}} name="candidate_voted" value={{candidate.original}}>
                        <label for={{candidate.name}}>{{candidate.name}}</label><br>
                        {% endfor %}
                        
                        
                        <input type="submit" value="Vote" class="submitbutton" disabled>
                        
                        <div class="instructions">
                                Choose the candidate from the list and click on vote to cast your vote.
                        </div>
                        
                </form>
        </div>
        <div class="ballot" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%" >Ballot Paper</div>
                <div class="leftballot">
                        {% for candidate in candidate_list %}
                        <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br>
                        {% endfor %}
                </div>
                <div class="rightballot">
                        <figure class="ballot-secrets">
                                <img src={% static left_qr %} alt="left_qr" width="150" height="150">
                                <figcaption> Ballot Secrets </figcaption>
                        </figure>
                        <figure class="crid-cobs">
                                <img src={% static right_qr %} alt="right_qr" width="150" height="150">
                                <figcaption> C_rid and C_obf </figcaption>
                        </figure> 
                </div>
        </div> -->
        <div class="dre" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%" >DRE</div>
                <form action="candidate" method="post" style="display:block;text-align:center;">
                        {% csrf_token %}
                        <input type="hidden" name="voter_id" value={{voter_id}}>
                        <input type="hidden" name="rid" value={{rid}}>
                        {% comment %} <textarea readonly>Your Voter ID is {{voter_id}}</textarea> {% endcomment %}
                        <div style="margin: 3%;">
                                <div style="text-align: center;">Choose your Vote</div>                        
                                {% for candidate in candidate_list %}
                                <span style="border: 1px solid gray; border-radius: 4px; background-color: lightgray; margin: 1%;">
                                        <input type="radio" id={{candidate.name}} name="candidate_voted" value={{candidate.original}}>
                                        <label for={{candidate.name}}>{{candidate.id}}</label>
                                </span>
                                {% endfor %}
                        
                        </div>
                        
                        
                        
                        <input type="submit" value="Vote" class="submitbutton" disabled>
                        
                        <div class="instructions">
                                Choose the candidate from the list and click on vote to cast your vote.
                        </div>
                        
                </form>
        </div>
        <div class="ballot" style="text-align: center;">
                <div style="padding: 3%; background-color: lightgray; width: 100%; border-bottom: 0.5px solid gray;" >Ballot Paper</div>
                <div class="left_right_ballot">
                        <div class="leftballot">
                                <div style="padding: 10%; background-color: lightgray; width: 100%"></div>
                                <div style="display: flex; padding: 3%;">
                                        <div style="float: right; width: 50%;">
                                                <label><i>w_m</i></label>
                                        </div>
                                        <div style="float: left; width: 50%;">
                                                <label>Candidate</label>
                                        </div>
                                </div>
                                <hr style="width: 80%; color: black; margin-top: 0%; margin-bottom: 0%;">
                                {% for candidate in candidate_list %}
                                <div style="display: flex;">
                                        <div style="float: right; width: 50%;">
                                                <label for="{{candidate.id}}">{{candidate.id}}</label>
                                        </div>
                                        <div style="float: left; width: 50%;">
                                                <label for="{{candidate.name}}">{{candidate.name}}</label>
                                        </div>
                                </div>
                                
                                <!-- <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br> -->
                                {% endfor %}
                        </div>
                        <div class="rightballot">
                                <div style="padding: 10%; background-color: lightgray; width: 100%"></div>
                                <figure class="ballot-secrets">
                                        <img src={% static ballot_qr %} alt="ballot_qr" width="80%" style="margin-top: 3%;">
                                        <figcaption> Ballot Secrets </figcaption>
                                </figure>
                                <!-- <figure class="crid-cobs">
                                        <img src={% static right_qr %} alt="right_qr" width="150" height="150">
                                        <figcaption> C_rid and C_obf </figcaption>
                                </figure>  -->
                        </div>
                </div>
        </div>
        
</div>


<!--
<h2 style="text-align:center;"> Voting Portal </h2>

<div class="container">
        <div class="row">
                <div class="col-sm-6">
                        <h2> Voter ID = {{voter_id}} </h2>
                        <h2 style="font-weight: bold;"> Ballot Paper</h2>
                        {% for candidate in candidate_list %}
                        <label for={{candidate.name}}>{{candidate.name}}, {{candidate.id}}</label><br>
                        {% endfor %}
                        <div class="row">
                                <div class="col-sm-6">
                                        <figure>
                                                <img src={% static left_qr %} alt="left_qr" width="150" height="150">
                                                <figcaption> Ballot Secrets </figcaption>
                                        </figure>
                                </div>

                                <div class="col-sm-6">
                                        <figure>
                                                <img src={% static right_qr %} alt="right_qr" width="150" height="150">
                                                <figcaption> C_rid and C_obf </figcaption>
                                        </figure>                                        
                                </div>
                                
                        </div>

                        
                </div>

                <div class="col-sm-6" style="text-align:center; padding:50px">
                        <h2 style="font-weight: bold;"> VVPR Receipt </h2>
                        <h3 style="text-align:center; font-weight: bold;">Name: {{vvpr_receipt_name}}</h3>
                        <figure>
                                <img src={% static vvpr_receipt_c_vote %} alt="C_vote" width="150" height="150" style="display:block;margin-left:auto;margin-right:auto;">
                                <figcaption> C_vote </figcaption>
                        </figure>

                        <form method="post" action="voter_receipt">
                                {% csrf_token %}
                                <input type="hidden" name="voter_id" value={{voter_id}}>
                                <input type="hidden" name="vvpr_receipt_name" value={{vvpr_receipt_name}}>
                        
                                <div style="text-align:center; padding:50px">
                                        <input type="submit" value="Voter Receipt">
                                </div>
                        </form>                        

                </div>
        </div>  
</div>

-->
<!--
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
                //$('.VVPR-receipt').slideDown(6000);
                $('.VVPR-receipt').animate({opacity: 1}, 5000);
        });
</script>-->

</body>
</html>